@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;@300;@400;@500;@600;@700;@800;@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo{
    margin-left: -750px;
    margin-top: -100px;
    width: 350px;
    opacity: 100%;
    cursor: pointer;
    transition: opacity 1s;
}

.logo:hover{
    opacity: 30%;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(Images/Dark\ netflix\ 2.jpg);
    background-size:cover;
}

.contact .content{
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    text-align:center ;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: aliceblue;
}

.contact .content p{
    font-weight: 300;
    color: aliceblue;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.container .coninfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container .coninfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    padding-right: 2rem;
}

.container .coninfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    font-size: 22px;
}

.container .coninfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: aliceblue;
    flex-direction: column;
    font-weight: 300;
}

.container .coninfo .box .text h3{
    font-weight: 500;
    color:#04c4ddca
}

.container .coninfo .box .text p a{
    line-height: 15px;
    font-weight: 300;
    color: aliceblue;
}

.container .coninfo .division2{
    align-items: right;
}


/* 
.contactform{
    margin: -20px 250px;
    width: 60%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.264);
}

.contactform h2{
    font-size: 30px;
    color: rgba(98, 255, 239, 0.824);
    font-weight: 500;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    border: none;
    border-bottom: 2px solid #00bcd4;
    outline: none;
    resize: none;
}

.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:focus ~ :valid
{
    color: greenyellow;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size:18px ;
}
 */

/* @media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .coninfo{
        margin-bottom: 40px;
    }
    .container .coninfo,
    .contactform{
        width: 100%;
    }
} */


@media (max-width: 991px)
{   
    .contact{
        width: 100%;
        padding: 50px;
        background: url(Images/Dark\ netflix\ 2.jpg);
        background-size: cover;
        background-position: bottom;
    }
    .logo{
        margin-left: 0px;
        margin-top: 0px;
        width: 300px;
    }
    .contact .content{
        font-size: 80%;
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 800px;
        text-align: center;
    }
    .container .coninfo{
        margin-left: -40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: -220px;
    }
    .container .coninfo .division1 .box .text{
        font-size: 65%;
    }
    .container .coninfo .division2 .box .text{
        font-size: 70%;
    }
    .container .coninfo .division3 .box .text{
        font-size: 70%;
    }
    .container .coninfo .box .icon{
        min-width: 50px;
        height: 50px;
    }
}


