*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(Images/background.png);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.35rem 0;
}

.logo{
    width: 31.5rem;
    opacity: 100%;
    cursor: pointer;
    margin-left: -11rem;
    transition: opacity 1s;
}

.logo:hover{
    opacity: 30%;
}

.spotify{
    width: 5rem;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 2rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0.7rem 3rem;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 0.2rem;
    position: absolute;
    bottom: -0.35rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(38, 255, 0);
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 80%;
    background: #fff;
}

.text{
    color: #fff;
    position: absolute;
    bottom: 8%;
}

.text h1{
    font-size: 11rem;
    line-height: 9.5rem;
    margin-left: -0.6rem; 
    color: transparent;
    -webkit-text-stroke: 0.07rem #fff;
    background: url(Images/back.png);
    -webkit-background-clip: text;
    background-position: 0rem 0rem;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 140rem 0rem;
    }
}


.text h3{
    font-size: 2.5rem;
    font-weight: 500;
}

.text .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.text .row span{
    font-size: 1.15rem;
}

.text button{
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    background: transparent;
    padding: 0.7rem 1.4rem;
    margin-right: 1.4rem ;
    border: 0.14rem solid #fff;
    display: flex;
    border-radius: 4rem;
    align-items: center;
    position: relative;
    overflow: hidden;
} 

.a{
    height: 100%;;
    width: 100%;
    border-radius: 4rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.text button span{
    font-size: 2rem;
    line-height: 1rem;
    margin-left: 0.35rem;
}

.media{
    position:absolute;
    right: 0.35rem;
    bottom: 2rem;
    display: flex;
}

.media img{
    width: 1.7rem;
    display: block;
    margin: 1.7rem;
    transition: width 2s;
}

.media img:hover{
    -webkit-box-shadow: 0rem 0.7rem 7rem 1.4rem rgba(0, 0, 0, 0.406);
}

@media(max-width:2560px) {
    html{
        font-size: 100%;
    }
}

@media(max-width:1440px) {
    html{
        font-size: 90%;
    }
}

@media(max-width:1024px) {
    html{
        font-size: 80%;
    }
}

@media(max-width:768px) {
    html{
        font-size: 65%;
    }
    nav ul{
        font-size: 120%;
        display: flex;
        flex: 1;
        text-align: right;
        padding-right: 2rem;
    }
}

@media(max-width:425px) {
    html{
        font-size: 55%;
    }
    .text{
        color: #fff;
        position: absolute;
        bottom: 15%;
    }
    nav ul{
        display: flex;
        flex: 1;
        text-align: right;
        padding-right: 2rem;
    }
    nav ul li{
        font-size: 130%;
        display: inline-block;
        list-style: none;
        margin: 4rem 3rem;
    }
    .spotify{
        width: 7rem;
        margin-left:200% ;
    }
}

@media(max-width:375px) {
    html{
        font-size: 50%;
    }
    .text{
        color: #fff;
        position: absolute;
        bottom: 15%;
    }
    nav ul{
        margin-top: 10%;
        display: flex;
        flex: 1;
        text-align: right;
        padding-right: 2rem;
    }
    nav ul li{
        font-size: 130%;
        display: inline-block;
        list-style: none;
        margin: 4rem 3rem;
    }
    .spotify{
        width: 7rem;
        margin-left:200% ;
    }
}

@media(max-width:320px) {
    html{
        font-size: 42%;
    }
    .text{
        color: #fff;
        position: absolute;
        bottom: 15%;
    }
    nav ul{
        margin-top: 20%;
        display: flex;
        flex: 1;
        text-align: right;
        padding-right: 2rem;
    }
    nav ul li{
        font-size: 130%;
        display: inline-block;
        list-style: none;
        margin: 4rem 3rem;
    }
    .spotify{
        width: 7rem;
        margin-left:200% ;
    }
}


